<footer class="p-5 bg-dark text-light">
    <div class="d-flex justify-content-around">
        <div>
            <span>Photomania© 2023</span>
        </div>
        <div>
            <div class="container d-flex gap-3 fs-1">
                <div><a><i class="fs-1 fa-brands fa-square-facebook text-danger"></i></a></div>
                <div><a><i class="fa-brands fa-square-twitter text-light"></i></a></div>
                <div><a><i class="fa-brands fa-square-instagram text-success"></i></a></div>
            </div>
        </div>
    </div>
</footer>
