<footer class="p-5 bg-dark text-light">
    <div class="d-flex justify-content-between">
        <div>
            <span>My photo© 2023</span>
        </div>
        <div>
            social icons
        </div>
    </div>
</footer>
