body{
    font-size: 20px;
}

header {
    margin-bottom: 200px;
}

header, footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.table, .form_create, .form_update{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.photo_out{
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    padding: 50px 30px;
    height: 1000px;
    border-radius: 15px;
}

#searchbar{
    border-radius: 30px;
}
